.container
  - if @countries.any?
    .panel.panel-default.panel-primary
      .panel-heading
        %h3.panel-title My trips
      .panel-body
        %table.table.table-bordered
          %thead
            %tr
              %th Country Name
              %th Visited date
              %th
          %tbody
            - @countries.each do |country|
              %tr
                %td= country.name
                %td= country.updated_at.strftime('%c')
